## ❌ DO NOT EDIT - MAKE A COPY
# Q1: Alphabet Slices
* Store the first ten letters of the alphabet in a list.
* Use a slice to print out the first three letters of the alphabet.
* Use a slice to print out any three letters from the middle of your list.

In [6]:
# Solve Alphabet slices here. 
## Extra Credit:  Do this without 'hard coding' the alpahbet.
import string
first_ten = list(string.ascii_lowercase[:10])
print(first_ten)
#First 3
first_three = first_ten[:3]
print(first_three)
#3 from middle
any_three = first_ten[4:7]
print(any_three)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c']
['e', 'f', 'g']

# Q2:  Covert all the rapper names to title case and save them into a new different list. 
Example: **lil wayne** becomes **Lil Wayne**

In [8]:
# Solve rapper names here
rappers = ['lil wayne', 'nicki minaj', 'drake']
title_cased_rappers = [x.title() for x in rappers]
print(title_cased_rappers)

['Lil Wayne', 'Nicki Minaj', 'Drake']

# Q3: Write a function that takes a number and returns:
* True if the input number is even.
* False if the input number is odd.

In [10]:
# Solve problem here

def even_odd(lst):
   if lst%2 == 0:
      return True
   return False 

even_odd(2)
#even_odd(3)
   #pass # replace this with your code
   # return something

True

# Q4: Find the sum and the average of this list of numbers.

Try doing this using a loop.  Then try doing this without using a loop.

In [11]:
# Solve problem here:

my_list = [1, 5, 10, 55, 88, 44, 42, 50, 20, 38]
list_sum = sum(my_list)
list_avg = list_sum/len(my_list)


# Keep this as your last line in this cell.
print(list_sum, list_avg)

353 35.3

# Q5: 
## Write a function that takes a list and returns a new list that has all the duplicates removed.

Example input and expected output:
- input = `["Michele", "Robin", "Sara", "Michele"]`
- expected output = `['Michele', 'Robin', 'Sara']`

In [12]:
# Solve problem here:

names = ["Michele", "Robin", "Sara", "Michele"]

#turn it into a set then list again
def remove_dupe(l):
    return list(set(l))

remove_dupe(names)

['Robin', 'Sara', 'Michele']

# Q6: Write a function that takes a list of numbers 
(for example, `a = [5, 10, 15, 20, 25]`) and returns a new list of only the first and last elements of the given list.

Example input and expected output:
- input = `[5, 10, 15, 20, 25]`
- expected output = `[5, 25]`

In [15]:
# Solve problem here:
input_list = [5, 10, 99, 20, 25]

def first_last(l):
    return [l[0], l[-1]]

first_last(input_list)

[5, 25]

# Q7: 
## Implement a function that takes as input three variables, and returns the largest of the three. 
### Try doing this without using the `max()` function!

_**Note:** all three input numbers will always be different, no need to account for a tie._

Example input and expected output:
- input: `your_function(1, 5, 10)`
- expected output:  `10`

In [16]:
# Solve Problem here:

def my_max(a, b, c):
    # Fill in your code below and return max value of a, b, c
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else: 
        return c
    
my_max(1,2,4)

4

In [17]:
# Test to see if your function works properly.
my_max(1, 5, 10)

10

# Q8: Write a function that takes a number as input and returns the following:
* If the input is divisible by three, return `'fizz'`
* If the input is divisible by five, return `'buzz'`
* If the input is divisible by three and by five, return `'fizzbuzz'`
* If the input is not divisible by three or five, return `None`.

In [18]:
# Solve Problem fizzbuzz here:
def fizzbuzz(x):
    if x%15 == 0:
        return "fizzbuzz"
    elif x%3 == 0:
        return "fizz"
    elif x%5 == 0:
        return "buzz"
    
    return "None"

print(fizzbuzz(60))
print(fizzbuzz(9))
print(fizzbuzz(20))
print(fizzbuzz(7))

fizzbuzz
fizz
buzz
None